/* Grid container til alle vores elementer */
/* Som test har jeg kun defineret et grid med ROWS, og lagt det som en container omrking alt vi har i index.HTML */
#container_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
/* Grid container slut  */
body {
  background-color: darkblue;
}
.intro_h1 {
  grid-column: 1/5;
  grid-row: 0/1;
  color: orange;
}

#goal_container {
  width: 90vw;
  height: 20vh;
  grid-column: 1/5;
  grid-row: 2/3;
  margin-left: 2vw;
  overflow: hidden;
}

.goal_end {
  text-align: end;
}

.goal_bar {
  width: 100%;
  height: 100%;
  background-color: grey;
  border: solid 2px black;
}

.goal_fill {
  height: 100%;
  background-color: red;
  transition: 1s;

  max-width: 100%;
}

#favbeer_container {
  grid-column: 5/6;
  grid-row: 3/4;
}

#bartender_container {
  grid-column: 1/4;
  grid-row: 3/4;

  background: rgb(41, 52, 65);
  border-radius: 12px;
}

#bartender_chart {
  width: 100%;
  height: 100%;
}

.diagram_test {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: red;
}

#storage {
  grid-column: 1/6;
}
#taps {
  grid-column: 1/6;
}
/*### STORAGE ###*/

#storage {
  width: 600px;
  height: 120px;
  padding: 10px;
  border: solid #000 2px;
  background-color: #293441;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

#storage .beer_container {
  height: 100%;
  width: 1320px;
}

.beer_single_container {
  position: relative;
  display: inline-block;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 4px;
}

#storage .beer {
  scroll-snap-align: center;

  position: relative;
  width: 110px;
  height: 110px;

  padding: 5px;

  background-color: rgba(43, 107, 111, 0.8);
  opacity: 20%;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 7px;
}

#storage .beer.warning {
  border: solid yellow 1px;
  width: 108px;
  height: 108px;
}
#storage .beer.alert {
  border: solid red 1px;
  width: 108px;
  height: 108px;
}

#storage .beer div {
  background-color: #b9e9eb;
  width: 100%;
  height: 100%;
}

#storage .beer_info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  transition: 0.4s;
}

#storage .beer_single_container:hover .beer_info {
  max-height: 90px;
  opacity: 1;
}

#storage .beer_single_container:hover .beer_info p {
  opacity: 1;
}

#storage .beer_info p {
  margin: 10px;
  color: #fff;
  opacity: 0;
  transition: 0.6s ease-out;
}

#storage .beer_info .beer_name {
  margin-top: 40px;
  font-size: 0.8em;
}

#storage .beer_info .beer_amount {
  font-size: 0.9em;
}
